/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body{
    background-color: rgb(240, 240, 240);
}

ul {
    margin: 0 50px;
    list-style-type: none; /* Cambia il simbolo in un quadrato */
}


/* spazio inferiore tra gli elementi contenuti nella lista */
li{
    margin-bottom: .9rem;
    font-size: 20px;
}

/* centrare la barra del titolo */
header{
    max-width: auto; /* grandezza massima in orizzontale */
    margin: 0 auto; /* centra l'elemento al centro */
}

/* centrare il contenuto della pagina */
main{
    max-width: 1200px;
    margin: 0 auto;
}

footer{
    margin: auto .9rem;
}


.container{
    display: inline-block;
    background-color: white;
    width: 100%;
    height: 100px;
}

/* linea di separazione tra i bottoni e il contenuto della lista */
hr{
    border: .4rem solid;
    border-color: rgb(240, 240, 240);
}

.container2{
    max-width: 1000px; /* vertical */
    margin-left: 100px; /* posizionamento centrale */
    margin-right: 100px; /* posizionamento centrale */
    display: inline-block;
    background-color: white;
    width: 100%;
    height: 740px;
    justify-content: center;
    align-items: center;
    border-radius: 3%;
}

.titolo{
    font-family: Roboto Mono, bold;
    font-size: 50px;
    color: black;
    display: inline-block;
    margin-bottom: 4rem;
    vertical-align: middle;
    margin-top: 20px;
}


/* Bottoni inizio*/
/* ---------------------------------------------------------------- */
.activebutton{
    padding: .22rem .33rem;
    font-size: 14px;
    color: white;
    background-color: rgb(0, 119, 255);
    text-align: center;
    display: inline-block;
    border: none;
    border-radius: .33rem;
    padding: 10px;
    margin: 15px 0px 15px 50px;
}

.offbutton{
    font-size: 14px;
    color: rgb(156, 156, 156); /* uguale al border color */
    background-color: rgba(240, 240, 240, 0.795);
    text-align: center;
    display: inline-block;
    border: rgb(141, 141, 141) solid 1px; /* uguale al color */
    border-radius: .33rem;
    padding: 10px;
    margin: 10px 5px 5px 10px;
}
/* ---------------------------------------------------------------- */
/* Bottini fine */




.Taskname{
    margin: 30px 2px 0 30px;
    font-size: 30px;
    font-family: Roboto Mono;
}


/* -------------------------------------------------------------------- */

/* regola generica */
.circle{
    display: inline-block;
    border: 1px solid;
    border-radius: 50%;
    width: 1.2rem;
    height: 1.2rem;
    text-align: center;
    font-size: .8rem;
    margin-right: .5rem;
}

/* check verdi */
.green{
    color: green;
    border-color: green;
}

/* check rossi */
.red{
    color: red;
    display: inline-block;
}
/* -------------------------------------------------------------------- */





/* -------------------------------------------------------------------- */
/* Tutti i Tag */

/* Tag generale - senza colore */
.categoria{
    align-content: center;
    font-size: 15px;
    text-align: center;
    display: inline-block;
    border: none;
    border-radius: .8rem;
    padding: 10px;
    margin: 0px 0px 0px 4px;
    width: 85px;
    height: 25px;
}



/* Tag Blu */
.tagblu{
    color: white;
    background-color: rgb(155, 201, 255);
}

/* Tag Viola */
.tagviola{
    color: white;
    background-color: rgb(121, 88, 241);
}

/* Tag Verde */
.tagverde{
    color: white;
    background-color: rgb(75, 141, 0);
}

/* Tag Arancione */
.tagarancione{
    color: white;
    background-color: rgb(201, 164, 0);
}


/* Tag Rosa */
.tagrosa{
    color: white;
    background-color: rgb(225, 0, 255);

}

/* Tag verde chiaro */
.tagverdechiaro{
    color: white;
    background-color: rgb(184, 255, 103);
}
/* -------------------------------------------------------------------- */